.transcript {
  margin-top: 18px;
}

.search-input {
  box-sizing: border-box;
  height: 34px;
  width: 370px;
  border: 2px solid #d0d9e2;
  border-radius: 4px;
  padding: 2px 8px;
  margin-bottom: 12px;
}

.textblock {
  display: flex;
  padding: 14px 25px;
}

.textblock.you {
  margin-left: 50px;
}

.textblock--startTime {
  box-sizing: border-box;
  width: 50px;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 14px;
}

.textblock--content {
  display: block;
  border-left: 2px solid #eee;
  padding: 8px 12px;
  margin-left: 12px;
  font-size: 14px;
  line-height: 16px;
}

.textblock.prospect.speaking {
  background: #f4faff;
}

.textblock.you.speaking {
  background: purple;
}

.textblock.prospect .textblock--content {
  border-color: #c2ddf1;
}

.textblock.prospect .textblock--startTime {
  color: #1a99f6;
}

.textblock.you .textblock--content {
  border-color: #e1d9f9;
}

.textblock.you .textblock--startTime {
  color: #8868e9;
}

.word {
  border-radius: 4px;
  cursor: pointer;
}

.prospect .word.current {
  background: #bee2fd;
}

.you .word.current {
  background: #e1d9f9;
}
