.controls {
  background: #eff3f6;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 18px 12px 25px;
}

.controls > .left {
  display: flex;
  align-items: center;
}

.controls--player {
  display: flex;
}

.controls--playbackSpeed {
  margin-left: 20px;
  height: 20px;
  color: #556c86;
  font-weight: bold;
  background: white;
  border: 2px solid #d0d9e2;
  border-radius: 12px;
}

.controls--playPause {
  background: #028be5;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  border: none;
  margin: 0 14px;
  color: white;
}
