@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/ProximaNova-Regular.eot);
  src: url(./fonts/ProximaNova-Regular.eot) format("embedded-opentype");
}

body {
  margin: 0;
  font-family: "Proxima Nova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #556c86;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
